include ./head.pug

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col-md-1
    .col-md-10
      h2.nice-header
        if id === undefined
          | Creating build.
        else
          ='Editing ' + repo.name + '.'
      
      .mb-4

      form(method='post')
        if use_id !== undefined
          .form-row
            .form-group
              label Build ID
              input.form-control(type='text', name='id', placeholder='Build ID', readonly, required, value=use_id)
              small.form-text.text-muted This ID will be used in the URLs for this build.
        else
          input(type='text', name='id', value=id, hidden)

        .form-row
          .form-group
            label Build name
            input.form-control(type='text', name='name', value=repo.name, placeholder='Build name', required)
            small.form-text.text-muted.mt-3
              ul
                li If using a local repo, name must match the local repository name (e.g. the name of the cloned directory)
        
        hr
        
        .form-row
          .form-group
            label Clone URL
            input.form-control(type='text', name='clone_url', value=repo.clone_url, placeholder='ssh')
            small.form-text.text-muted.mt-3
              ul
                li A link to the GitHub clone URL of the project.
                li A local repository if you are not connecting with GitHub.

        hr

        .form-row
          .form-group
            label Local repository
            input.form-control(type='text', name='deploy_dir', value=repo.deploy_dir, placeholder='')
            small.form-text.text-muted Provide the local git repository if it already exists. Use for PHP, Python, Node.js, etc. Leave blank otherwise.
        
        hr

        .form-row
          .form-group
            label GitHub Auth Key
            input.form-control(type='password', name='auth', value=repo.github, placeholder='')
            small.form-text.text-muted This To be used if you want build status results posted back to GitHub (in real time).

        .form-row
          .form-group
            label Secret
            input.form-control(type='password', name='secret', value=repo.secret, placeholder='')
            small.form-text.text-muted This Recommended so no one else can trigger unwanted builds.

        hr

        .form-row
          .form-group
            .btn-group(role='group')
              a(href='/app/manage', type='button', class='btn btn-default') Cancel
              input(type='submit', class='btn btn-primary', value='Save')
              if id !== undefined
                a(href='/app/delete/' + id, type='button', class='btn btn-default') Delete

      if id !== undefined
        
        table(class='table table-condensed')
          thead
            tr
              th Usage
              th Link
          tbody
            tr
              td URL used for the (push and release only) webhook.
              td
                code=githuburl
            tr
              td Call this URL to invoke a build of the application.
              td
                code=buildurl

    .col-md-1