include ./head.pug

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col-md-1
    .col-md-10
      h3 Build configurations
      table(class='table table-hover')
        thead
          tr
            th ID
            th Name
            th
        tbody
          each repo, key in repos
            tr
              td=key
              td=repo.name
              td
                a(href='/app/edit/' + key)
                  button.btn.btn-primary(type='button', class='btn-sm') Edit
    .col-md-1

  .row
    .col-md-1
    .col-md-10
      h3 Latest builds
      table(class='table table-hover')
        thead
          tr
            th Name
            th Repo
            th Status
            th Time
            th
        tbody
          - var color = ''
          each status, key in statuses
            case status.status
              when 'pending'
                - color = 'table-warning'
              when 'success'
                - color = 'table-success'
              when 'failure'
                - color = 'table-danger'
            tr(class=color)
              td=repos[key].name
              td=status.repo
              td=status.status
              td=status.time
              td
                a(href=status.url, target='_blank')
                  button.btn.btn-primary(type='button', class='btn-sm') View
    .col-md-1