include ./head.pug
script(defer, src="/public/statusUpdate.js")

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col-md-1
    .col-md-10
      h3 Latest builds
      table(id='statuses', class='table table-hover')
        thead
          tr
            th Name
            th Repo
            th Status
            th Time
            th
        tbody
          - var color = ''
          each status, key in statuses
            case status.status
              when 'cloning'
                - color = 'table-active'
              when 'pending'
                - color = 'table-warning'
              when 'success'
                - color = 'table-success'
              when 'failure'
                - color = 'table-danger'
            tr(id=key + 'tr', class=color)
              td(id=key+'name')=status.name
              td(id=key+'repo')=status.repo
              td(id=key+'text')=status.text
              td(id=key+'time')=status.time
              td(id=key+'viewBtn')
                if status.url !== ""
                  a(href=status.url, target='_blank')
                    button.btn.btn-primary(type='button', class='btn-sm') View
    .col-md-1