include ./head.pug
script(defer, src="/public/consoleStandard.js")
link(href='/public/resultPage.css', rel='stylesheet')
link(href='/public/list.css', rel='stylesheet')

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col
      h3.mb-4=info.project + ' build result'
      .card.mb-3#infocard(class='border-' + info.panel)
        .card-header Information
        .card-body
          table(class='table table-sm')
            tbody
              tr
                td
                  i.fa.fa-fa-object-group
                  span.ml-2=info.project
                td
                  i.fa.fa-connectdevelop
                  span.ml-2=info.ref
              tr
                td
                  i.fa.fa-file-code-o
                  span.ml-2=info.commit
                td
                  if info.pusher !== undefined
                    i.fa.fa-user-circle-o
                    span.ml-2
                      a(href=info.pusher.link)=info.pusher.user
              tr
                td
                  i.fa.fa-clock-o
                  span.ml-2#timeUpdated=info.timestamp
                td
                  i.fa.fa-calendar-o
                  span.ml-2#timeLength=info.time_length

  .row
    .col
      if info.test === undefined
        .card.mb-3
          .card-header Build result
          .card-body
            textarea#console.form-control(rows='20', readonly)=info.message
      else
        .card.mb-3
          .card-header Unit Test results
          .card-body
            table(id='unittests', class='table table-hover table-borderless')
              tbody
                - var colour = ''
                for test in info.test.list
                  if test.success === true
                    - colour = 'fa fa-check text-green'
                  else
                    - colour = 'fa fa-times text-red'
                  tr
                    td
                      div(class=colour)
                    td=test.name
